<div>
    
    {% if object.manufacturer %}
    <p> <b>manufacturer:</b>  {{object.manufacturer}}</p>   
    {% endif %}
    {% if object.rpm %}
    <p> <b>RPM:</b>  {{object.rpm}}</p>   
    {% endif %}

    {% if object.code %}
    <p> <b>code:</b>  {{object.code}}</p>   
    {% endif %}
    
    
    {% if object.model %}
    <p><b>Model:</b>{{object.model}}</p> 
    {% endif %}
        
    {% if object.power %}
    <p><b>Power:</b>{{object.power}}</p>  
    {% endif %}
    
    
    {% if object.max_head %}
    <p><b>Max Head:</b>{{object.max_head}}</p>
    {% endif %}

    
    {% if object.sunction_head %}
    <p><b>Sunction head:</b>{{object.sunction_head}}</p>
    {% endif %}
    
    
    {% if object.inlet %}
        <p><b>Inlet:</b> {{object.inlet}}</p>
    {% endif %}

    {% if object.outlet %}
        <p><b>Outlet:</b> {{object.outlet}}</p>
    {% endif %}

    {% if object.flow_rate %}
        <p><b>Outlet and Inlet:</b> {{object.flow_rate}}</p>
    {% endif %}



    
    {% if object.automatic_or_manual %}
        <p><b>Automatic or Manual:</b> {{object.automatic_or_manual}} </p>  
    {% endif %}

    
    {% if object.max_flow %}
    <p><b>Max Flow</b>{{max_flow}}</p> 
    {% endif %}

    
    {% if object.controller %}
        <p><b>Controller:</b> {{object.controller}}</p>
    {% endif %}

    
    {% if object.voltage %}
        <p><b>Voltage:</b> {{object.voltage}}</p>
    {% endif %}

    
    {% if object.texture %}
        <p><b>Texture:</b> {{object.texture}}</p>
    {% endif %}

    
    {% if object.quality %}
        <p><b>Quality:</b> {{object.quality}}</p>
    {% endif %}

    
    {% if object.watts %}
        <p><b>Watts:</b> {{object.watts}}</p>
    {% endif %}

    
    {% if object.frequency %}
        <p><b>Frequency:</b> {{object.frequency}}</p>
    {% endif %}

    
    {% if object.size %}
        <p><b>Size:</b> {{object.size}}</p>
    {% endif %}

    
    {% if object.fuel_consumption %}
        <p><b>Fuel Consumption:</b> {{object.fuel_consumption}}</p>
    {% endif %}

    
    {% if object.weight %}
        <p><b>Weight:</b> {{object.weight}}</p>
    {% endif %}

    
    {% if object.pressure %}
        <p><b>Pressure:</b> {{object.pressure}}</p>
    {% endif %}

    
    {% if object.max_current %}
        <p><b>Max Current:</b> {{object.max_current}}</p>
    {% endif %}

    
    {% if object.material %}
        <p><b>Material:</b> {{object.material}}</p>
    {% endif %}

    
    {% if object.radius %}
        <p><b>Radius:</b> {{object.radius}}</p>
    {% endif %}

    
    {% if object.connection %}
        <p><b>Connection/Dimension:</b> {{object.connection}}</p>
    {% endif %}

    
    {% if object.fuel_type %}
        <p><b>Fuel Type:</b> {{object.fuel_type}}</p>
    {% endif %}

    
    {% if object.tank_capcity %}
        <p><b>Tank Capacity:</b>  {{object.tank_capcity}}</p>
    {% endif %}

    
    {% if object.thickness %}
        <p><b>Thickness:</b> {{object.thickness}}</p>
    {% endif %}

    
    {% if object.color %}
        <p><b>Color:</b> {{object.color}}</p>
    {% endif %}

    
    {% if object.length %}
        <p><b>Length: </b> {{object.length}}</p>
    {% endif %}

    
    {% if object.dimension %}
        <p><b>Dimension:</b> {{object.dimension}}</p>
    {% endif %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
</div>