{% url 'product-detail' slug=product.slug  as product_list_url%}
<div class="card clickable-div category-list  h-100 " onclick="location.href='{{product_list_url}}'">
        <div class="embed-responsive embed-responsive-4by3">
        <img src="{{product.image.url}}" class="card-img-top img-fluid embed-responsive-item p-2" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">
                <a href="{{product_list_url}}">{{product.title|title|truncatewords:3}}

                </a>
            </h5>
            
            {% if product.description %}
            <p class="card-text">{{product.description|safe|truncatechars:100}}</p>
            {% else %}
            {% include 'pages/snippets/product-attributes.html' with product=product %}
            {% endif %}
                
            
        </div>
    </div>