<p class="card-text">
    
                {% if product.manufacturer %}
                      {{product.manufacturer}}, , 
                {% endif %}
                {% if product.type %}
                      {{product.type}},
                {% endif %}

                {% if product.code %}
                      {{product.code}}  ,
                {% endif %}

                
            
                {% if product.flow_rate %}
                 {{product.flow_rate}} , 
                {% endif %}
                
                
                {% if product.model %}
                {{product.model}},
                {% endif %}
                    
                {% if product.power %}
                {{product.power}} ,
                {% endif %}
                
                
                {% if product.max_head %}
              {{product.max_head}},
                {% endif %}
            
                
                {% if product.sunction_head %}
                {{product.sunction_head}},
                {% endif %}
                
                
                {% if product.inlet %}
                     {{product.inlet}},
                {% endif %}
            
                {% if product.outlet %}
                     {{product.outlet}},
                {% endif %}
            
                {% if product.flow_rate %}
                     {{product.flow_rate}},
                {% endif %}
            
            
            
                
                {% if product.automatic_or_manual %}
                     {{product.automatic_or_manual}}  ,
                {% endif %}
            
                
                {% if product.max_flow %}
                {{max_flow}},
                {% endif %}
            
                
                {% if product.controller %}
                    {{product.controller}},
                {% endif %}
            
                
                {% if product.voltage %}
                     {{product.voltage}},
                {% endif %}
            
                
                {% if product.texture %}
                   {{product.texture}},
                {% endif %}
            
                
                {% if product.quality %}
                    {{product.quality}},
                {% endif %}
            
                
                {% if product.watts %}
                     {{product.watts}},
                {% endif %}
            
                
                {% if product.frequency %}
                    {{product.frequency}},
                {% endif %}
            
                
                {% if product.size %}
                     {{product.size}},
                {% endif %}
            
                
                {% if product.fuel_consumption %}
                    {{product.fuel_consumption}},
                {% endif %}
            
                
                {% if product.weight %}
                   {{product.weight}},
                {% endif %}
            
                
                {% if product.pressure %}
                     {{product.pressure}},
                {% endif %}
            
                
                {% if product.max_current %}
                     {{product.max_current}},
                {% endif %}
            
                
                {% if product.material %}
                    {{product.material}},
                {% endif %}
            
                
                {% if product.radius %}
                   {{product.radius}},
                {% endif %}
            
                
                {% if product.connection %}
                     {{product.connection}},
                {% endif %}
            
                
                {% if product.fuel_type %}
                     {{product.fuel_type}},
                {% endif %}
            
                
                {% if product.tank_capcity %}
                     {{product.tank_capcity}},
                {% endif %}
            
                
                {% if product.thickness %}
                    {{product.thickness}},
                {% endif %}
            
                
                {% if product.color %}
                    {{product.color}},
                {% endif %}
            
                
                {% if product.length %}
                    {{product.length}},
                {% endif %}
            
                
                {% if product.dimension %}
                     {{product.dimension}},
                {% endif %}
                    
                    
     
</p>