{% extends 'pages/services-base.html' %}

{% block services %}

<div class="col-12 about-page-container">
    <!-- about title row -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-11 mx-auto">
            <h1 class="about-page-title ">About Us</h1>
           
        </div>
    </div>
    <!-- about content row -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-11 mx-auto about-content-wrapper">
            <p class="text-justify about-page-content">
                Finetouch Africa Ltd has been in operation since 2010 providing its clients with value added services
                right from design, survey and construction of the relevant structures with customer focused business
                model. Finetouch Africa Ltd has undoubtedly risen steadily over a short period of time to become one of
                the leading service providers in greenhouse and irrigation construction in Kenya.</p>

            <p class="text-justify  about-page-content"> We are happy with the success of our customers across Kenya and
                beyond and generally the success of
                agribusiness sector. This emphasizes our business strategy which is focused at promoting the use of
                modern technologies in enhancing agricultural water and irrigation resource exploitation while placing
                value on customer satisfaction and service delivery.
            </p>
        </div>
    </div>
    <!-- core values tititle -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-11 mx-auto">
            <h2 class="about-page-title ">Our Core Values</h2>
            
        </div>
    </div>
    <!-- oure core values row -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-11 mx-auto core-values-wrapper">
            <p class="">You get what you order in a timely, honest and most cost effective means</p>
            <h3 class=" core-values">Our Brand</h3>
            <p class=" core-values-content">The board management and staff of Finetouch Africa strives
                towards building a good working relationship with all our customers, suppliers and the general community
            </p>
            <h3 class=" core-values">Value Added Service</h3>
            <p class=" core-values-content">At Finetouch we do not just offer a service, we add value. The
                value addition is geared towards enhancing our customer success in their development ventures.

            </p>
            <h3 class=" core-values">One Stop Shop</h3>
            <p class=" core-values-content">Ours is a complete product right from general advice, survey,
                design and supply of relevant materials and the actual construction.

            </p>
            <h3 class=" core-values">Excellent Service</h3>
            <p class=" core-values-content">We go to where our clients are, we serve them where the like. We
                take time to give our opinion. We provide frequent and updates for their projects. That is the culture
                we have developed and nurtured at Finetouch Africa.

            </p>
        </div>
    </div>
</div>


{% endblock services %}