{% extends 'pages/products-news.html' %}


{% block product_news %}
<div class="row no-gutters">
    {% for product in products %}
    {% url 'product-detail' slug=product.slug  as product_list_url%}

        <div  class="col-12 col-sm-6 col-md-6 col-lg-3 p-1 padding-products-list ">
            <div class="card clickable-div category-list h-100 " onclick="location.href='{{product_list_url}}'">
                    <div class="embed-responsive embed-responsive-4by3">
                <img src="{{product.image.url}}" class="card-img-top img-fluid embed-responsive-item p-2" alt="...">
                    </div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{product_list_url}}">{{product.title|title|truncatewords:3}}

                        </a>
                    </h5>
                    
                    {% if product.description %}
                    <p class="card-text">{{product.description|safe|truncatechars:120}}</p>
                    {% else %}
                    {% include 'pages/snippets/product-attributes.html' with product=product %}
                    {% endif %}
                        
                    
                </div>
            </div>

        </div>

    {% endfor %}
</div>


{% endblock product_news  %}