{% extends 'pages/services-base.html' %}
{% load static %}
{% block services %}

<div class="col-12 about-page-container contact-container">
    <!-- title -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-10 mx-auto">
            <h3 class="about-page-title text-center">Contact</h3>

        </div>
    </div>
    <!-- locations -->
    <div class="row py-4">
        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i> Ongata Rongai Office (Head Office)</h5>
            <p class="location-description">Ongata Rongai, Magadi Road, Farm & Greenhouse
                Mall, Next to Joliday Nursery
                School</p>
            <ul class="contact-information">

                <li> +254-705814794</li>
                <li>P.O.Box: 21874 - 00100, Nairobi</li>
                <li> farm@greenhouse.co.ke</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i> Nairobi CBD Shop</h5>
            <p class="location-description"> off Haille Selassie Avenue.</p>
            <ul class="contact-information">


                <li>+254-705814794</li>
                <li>P.O.Box: 535 - 00100, Nairobi</li>
                <li>farm@greenhouse.co.ke</li>
            </ul>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i>Nakuru Irrigation Shop</h5>
            <p class="location-description">Marianjugu Enterprises Building.</p>
            <ul class="contact-information">


                <li>+254-705814794</li>
                <li>P.O.Box: 4555 - 00100, Nairobi</li>
                <li>farm@greenhouse.co.ke</li>
            </ul>
        </div>

    </div>
    <div class="row mt-3 mb-5">
        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i> Eldoret Irrigation Shop</h5>
            <p class="location-description">Eldoret- Nakuru Road, </p>
            <ul class="contact-information">


                <li>+254-705814794</li>
                <li>P.O.Box: 566 - 00100, Nairobi</li>
                <li>farm@greenhouse.co.ke</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i> Kitale Irrigation Shop </h5>
            <p class="location-description">Opposite Show Ground junction, Eldoret - Kitale Road.</p>
            <ul class="contact-information">


                <li>+254705814794</li>
                <li>P.O.Box: 5564 - 00100, Nairobi</li>
                <li>farm@greenhouse.co.ke</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mx-auto">
            <h5 class="location"><i class="fas fa-map-marker-alt"></i> Kisumu Irrigation Office</h5>
            <p class="location-description">Kisumu - Nairobi Rd, Nyamasaria Area, next to Butter Toast Bakery.</p>
            <ul class="contact-information">


                <li>+254-705814794</li>
                <li>P.O.Box: 7573 - 00100, Nairobi</li>
                <li>farm@greenhouse.co.ke</li>
            </ul>
        </div>

    </div>
    <!-- map -->
    <h4 class="text-danger text-center h4 mb-2">Map Location</h4>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-12 mx-auto">
            <img src="{% static 'images/map.png' %}" alt=" map" class="img-fluid">
        </div>
    </div>
    <!-- get in touch -->
    <div class="row mt-5">
        <div class="col-12 col-sm-6 col-md-10 mx-auto">
            <h3 class="about-page-title text-center">Get in Touch</h3>

            <p class="text-center pt-3"><em>How can we help you ?</em></p>
        </div>
    </div>
    <!-- conctact form -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-10 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success mt-3">Send <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </form>

        </div>
    </div>
</div>





{% endblock services %}