{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- brief about us info -->
<section id="brief-about">
    <div class="row pt-4 ">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="{% static 'images/cor.png' %}" alt="" class="img-fluid d-none d-lg-block pl-3">
        </div>
        <div class="col-12 col-lg-8 px-4 ">
            <h1 class="about-title"> <span> Welcome to Farm & Greenhouse</span></h1>

            <p class="about-content text-justify pr-4">

                Lorem ipsum dolor, sit amet consectetur adipisicing elit. In molestias accusantium ipsum velit
                blanditiis tenetur tempore, nemo dolorem voluptate alias laborum cum culpa. Eos expedita, doloribus
                tempore nemo, odio nisi consequatur quo repellendus ratione ad impedit dolore nihil porro itaque labore
                illo beatae similique officiis! Quae, excepturi laboriosam aperiam perferendis iusto numquam magni
                molestias assumenda eum nisi mollitia nemo eligendi!

            </p>
            <p class="about-content text-justify pr-4">

                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam officia accusamus facilis itaque,
                veniam magnam dignissimos modi deleniti ullam officiis perspiciatis esse. Blanditiis harum repellat
                debitis sit corrupti vitae quo eum architecto aliquam neque necessitatibus mollitia omnis non rem,
                sapiente quas quaerat culpa reprehenderit repellendus facere commodi maiores. Omnis itaque beatae
                voluptas eius commodi, aperiam vero quibusdam repudiandae distinctio fugit, debitis consequatur tempore
                repellendus aspernatur consectetur exercitationem earum et placeat.

            </p>



        </div>
    </div>

</section>

<!-- main services   -->
<section id="main-services">
    <div class="row title-row">
        <div class="col-12 text-center">
            <h1 class="services-title">Our Products </h1>
        </div>
    </div>
    <div class="row pb-5 p-3">
        {% for category in object_list %}
        <div class=" col-12 col-xs-6 col-sm-6 col-md-6 col-lg-3 padding-column">
            {% include 'pages/snippets/category-card.html' with category=category %}

        </div>

        {% endfor %}
    </div>


</section>


{% if featuredProducts %}
<section class="featured-products">
    <div class="row title-row">
        <div class="col-12 text-center">
            <h1 class="services-title">Featured Products </h1>
        </div>
    </div>
    <div class="row mb-4 no-gutters">
        {% for product in featuredProducts %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-1">
            {% include 'pages/snippets/featured-products.html' with product=product %}
        </div>
        {% endfor %}

    </div>
</section>
{% endif %}




{% endblock %}