{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- brief about us info -->
<section id="brief-about">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h1 class="about-title text-center"> Welcome to <span>Finetouch</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="{% static 'images/cor.png' %}" alt="" class="img-fluid d-none d-lg-block pl-3">
        </div>
        <div class="col-12 col-lg-8 pt-3">

            <p class="about-content pr-5 pl-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <div class="row">
                <div class="col-12 pt-2 pb-2">
                    <a href="" class="btn btn-success read-more custom-class">Read More...</a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- main services   -->
<section id="main-services">
    <div class="row title-row">
        <div class="col-12 text-center">
            <h1 class="services-title">Our Best <span>Services</span> </h1>
        </div>
    </div>
    <div class="row pb-5 no-gutters">
        {% for category in object_list %}
        <div class=" col-12 col-xs-12 col-sm-4 col-md-4 col-lg-3 padding-column">
            {% include 'pages/snippets/category-card.html' with category=category %}

        </div>

        {% endfor %}
    </div>


</section>


{% endblock %}