{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- css -->
  {% include './base/head.html' %}
  <title>Farm & Greenhouse</title>
</head>

<body>

  <div class="container">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>


    <!-- logo and contact -->
    <div class="logo-contact d-none d-md-block">{% include 'logo-contact.html' %}</div>
    <!-- navbar -->
    {% include 'navbar.html' %}

    <!-- content area -->
    <main>
      <!-- welcome image  carousel-->

      {% include 'carousel.html' %}

      <!-- end of carousel -->

      {% block content %}{% endblock content %}
    </main>

    <!-- footer area -->
    {% include 'footer.html' %}
  </div>


  <!-- js -->
  {% include './base/foot.html' %}

</body>

</html>