<!-- Footer -->
<footer class="mt-2">
    <div class="row pt-5 ">
        <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4 pl-4 ">
            <h5 class="mb-4 font-weight-bold">ABOUT US</h5>
            <ul class="f-address">
                <li>
                    <div class="row">
                        <div class="col-1"><i class="fas fa-map-marker"></i></div>
                        <div class="col-10">
                            <h6 class="font-weight-bold mb-0">Address:</h6>
                            <p>P.O.Box: 21874 - 00100, Nairobi</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-1"><i class="far fa-envelope"></i></div>
                        <div class="col-10">
                            <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                            <p><a class="contact-us-footer" href="#">finetouch@finetouch.co.ke</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-1"><i class="fas fa-phone-volume"></i></div>
                        <div class="col-10">
                            <h6 class="font-weight-bold mb-0">Contact:</h6>
                            <p><a class="contact-us-footer" href="#">+254 700 169962</a></p>
                            <p><a class="contact-us-footer" href="#">+254 775 881092</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
            <h5 class="mb-4 font-weight-bold">FACEBOOK UPDATES</h5>
            <div class="fb-page" data-href="https://www.facebook.com/kiplagamp/" data-tabs="timeline"
                data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/kiplagamp/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/kiplagamp/">David Kiplagat - 2017 MP</a></blockquote>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4 pr-5">
            <h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address">
                <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
            </div>
            <ul class="social-pet mt-4">
                <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

    </div>
</footer>
<!-- Copyright -->
<section class="copyright">

        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center" id="creator">
                    &copy; 2018.Designed by chirchir7370@gmail.com.
                </div>
            </div>
        </div>

</section>