{% load static %}
<div class="row pt-2">
  <div class="col-11 d-flex pt-1 mx-auto justify-content-between">
    <div class="logo">
      <a class="navbar-brand" href="#">
        Farm & GreenHouses
      </a>
    </div>
    <div class="contact-header d-none d-md-block">
      <ul>
        <li><i class="fa fa-phone"></i> +254 0705814794</li>
        <li><i class="fa fa-phone"></i> +254 705814794</li>
        <li><i class="fa fa-envelope-square"></i> catelog@catelog.co.ke</li>
      </ul>
      <!-- <ul class="social-pet mt-4">
            <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
        </ul> -->
    </div>
  </div>
</div>