{% load static %}
<div class="row">
    <div class="col-11 d-flex pt-4 mx-auto justify-content-between">
        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.jpg' %}" alt="" width="250" height="60">
            </a>
        </div>
        <div class="contact-header d-none d-md-block">
           <ul>
                <li><i class="fa fa-phone"></i> +254 700 169962</li>
               <li><i class="fa fa-phone"></i> +254 775 881 092</li>
               <li><i class="fa fa-envelope-square"></i> finetouch@finetouch.co.ke</li>
           </ul>
        </div>

    </div>
</div>