{% load static %}
<div class="row pt-2">
    <div class="col-11 d-flex pt-1 mx-auto justify-content-between">
        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo2.jpeg' %}" alt="" width="235" height="70">
            </a>
        </div>
        <div class="contact-header d-none d-md-block">
           <ul>
                <li><i class="fa fa-phone"></i> +254 700 169962</li>
               <li><i class="fa fa-phone"></i> +254 775 881 092</li>
               <li><i class="fa fa-envelope-square"></i> finetouch@finetouch.co.ke</li>
           </ul>
           <!-- <ul class="social-pet mt-4">
            <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
        </ul> -->
        </div>

    </div>
</div>