body{
    font-family: 'Lato', sans-serif;
    color:#616161;
    background-image: linear-gradient(#f5f1f1, #f5f5f5);
    

}
.container-fluid{
    width: 94%;
}
.active a{
    color:#e0e0e0 !important;
}

.logo-contact{
    width: 100%;
    background-image: linear-gradient(#f5f5f5,#e0e0e0);
   

}
.contact-header ul{
    list-style: none;
    padding:0;
}

.contact-header li{
    font-size: .9rem;
    font-weight: 400;
    color:#05962e;
}

.fintouch-navbar, .dropdown-menu{
    background-color: #05962e;
    
}
.fintouch-navbar li{
    font-size:.9rem;
    padding:0;
    font-weight: 600;
   
}
.fintouch-navbar li a{
    color:#fff;
   
}
.fintouch-navbar li>a:hover{
    color:#e0e0e0;
    font-weight: 700;
}
.dropdown-menu a{
    color:white;
    font-weight: 700;
    font-size: 1.2rem;
}
.dropdown-menu a:hover{
    color:#e0e0e0;
    font-weight: 700;
    background-color:  #05962e;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }



/*********************************************************************************** */
  /* carousel     */

#carousel-slider-welcom{
    width: 100%;
}

/*********************************************************************************** */
/* about section */
#brief-about{
    min-height: 70vh;
    background-image: linear-gradient(#f5f5f5,#e0e0e0);
}
    #brief-about .about-title{
        font-size:1.6rem;
    }
    #brief-about .about-title span{
        color:#05962e;
    }
    #brief-about .about-content{
        font-size:15px;
        line-height: 190%;
       
    
    }
   
    .read-more{
        font-size: 17px;
        font-weight: 500;
        color:#05962e;
    }
    .read-more.btn{
        padding:0;
    }

/*********************************************************************************** */
/*main services and product section */

        .row.title-row{
        /* background-image: linear-gradient(#f5f5f5, #e0e0e0); */
        overflow:hidden;
        margin-left: 0px;
        width:100%;
        padding:14px;
        color:white;

    }
    .row.title-row .services-title{
        color: #05962e;
        font-size:1.6rem;

    }
    .card.category-card-style{

        background-image:linear-gradient( rgb(245, 245, 245, .1), rgb(224, 224, 224, .1));
        display: block;
        margin: auto;
        min-height: 379px;
        max-height: 379px;
        

    }
    .card.category-card-style .card-img-top{
        max-height:200px;
        min-height:200px;
    }
    .card.category-card-style .card-body{
        padding-top:5px;
    }

    .card.category-card-style p.card-text{
        font-size: 0.8rem;
    }
    .category-card-style .card-title{
        
        color:#05962e;
        padding:7px 10px;
        border-radius: 16px;
        font-size: 15px;
        font-weight: 600;
        
       
        text-align: center;
    }
    .category-card-style .card-title a{
        color:#05962e;
        text-decoration: none;
    }
    .category-card-style .card-title a:hover, .category-card-style .card-title:hover{
        background-color: #043512;
        font-weight: 400;
        color:#fff;
        transition: 1ms;
        text-decoration: none;
    }
    
    .padding-column{
       
        padding-top:12px;
    }

/*********************************************************************************** */
/* service-product section */
#product-list-section{
    padding:40px 0 15px 0;
    background-image: linear-gradient(#f5f5f5,#e0e0e0);
}
    .product-category-title{
        color:#05962e;
        font-size:1.3rem;
    }
    .product-category-list a{
        color:#757575;
    }
    .product-category-list a:hover{
        color:#05962e;
        text-decoration: none;
        font-weight: 500;
   
    }
    .product-container{
        /* border:1px solid #e0e0e0; */
        margin-top:5px;
       
        padding:0 15px;
    }
    .product-list-nav li{
        
        font-weight: 300;

    }
    .product-list-nav a{
        color:#757575;
    }
    .product-card-style{
        min-height: 293px;
        
    }
    .product-card-style h5{
        font-size: 14px;

    }
    .product-card-style h5 a{
        color:#05962e;
        font-weight: 500;
    }
    .product-card-style h5 a:hover{
        color:#043512;
        text-decoration: none;
    }
   
/*********************************************************************************** */
/* product -detail section */
.product-detail-card .card-title{
    color:#05962e;
    font-size: 25px;

}
.product-detail-card .card-text{
    text-align: justify;
    padding: 5px 20px;
    line-height: 140%;
}
.product-detail-card img{
    padding:30px;
}
.contact-us-form{
    color:#05962e;
    font-size: 24px;
    font-weight: 500;

}
/*********************************************************************************** */
/* post list */
.post-card .card-title{
    font-size: 18px;
    font-weight: 600;
}
.post-card .card-title>a{
    color:#05962e;
}
.post-card .card-title>a:hover{
    text-decoration: none;
}
.post-card p{
    margin:4px 0;
}
.post-card p >small >i{
    color:#05962e;
}
.post-card .post-button>a{
    margin-top: 10px;
    color:#05962e;
    border: 1px solid #05962e;
    border-radius: 15px;
    padding:7px 15px;
}
.post-card .post-button>a:hover{
    color:#fff;
    background-color: #05962e;
}
/*********************************************************************************** */
/* post detail */
.post-detail-card .card-title{
    color:#05962e;
}
.post-detail-card .card-content{
    line-height: 150%;

    padding:0  20px 20px;
}
/*********************************************************************************** */
/* post detail */
.search-paginator .page-link{
    color:#05962e;
}
.search-paginator .page-item.active .page-link{
    color:#fff;
    background-color: #05962e;
    border-color: #05962e;
}

/*********************************************************************************** */
/* about page */
.about-page-container h1.about-page-title{
    font-size:1.6rem;
    color:#05962e;
}
    .about-page-container .underliner{
        width:100px;
        height: 2px;
        background-color: #05962e;
        display:block;
        margin-left: 10px;
    
       

    }
    .about-page-container .about-page-content, .about-page-container .core-values-wrapper{
        line-height: 170%;
        word-spacing: 2px;
       
    }
    /* .about-page-container .about-content-wrapper>p:first-child, .about-page-container .core-values-wrapper >p:first-child {
        
    } */

    .about-page-container h2.about-page-title{
        font-size:1.6rem;
        color:#05962e;
    }
    .about-page-container .core-values-wrapper .core-values{
        font-size:1.2rem;
        color:#05962e;
    }
    .about-page-container .core-values-wrapper h3+p.core-values-content{
        
    }

/*********************************************************************************** */
    /*=-contact page-=*/
.contact-container h5.location{
    color:#05962e;
    font-size: 1.2rem;
    
}
.contact-container h3{
    color:#05962e;
}
.contact-container p.location-description{
    
    line-height: 170%;
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom:0;
}
.contact-container ul.contact-information{
    list-style: none;
    margin: 0;
    padding:0;
}



/*********************************************************************************** */
	/*=-footer-=*/
    footer {
        background-attachment: fixed;
        background-image: linear-gradient(#f5f5f5,#e0e0e0);
    }
    footer h5{
        color:#05962e;
        text-align: center;
        font-size: 18px;
    }
    footer .contact-us-footer{
        color:#05962e;
        text-decoration: none;
    }
    footer p {
        color: #000;				
    }

    .social-pet li {
        display: inline-block;
        margin-right: 10px;
    }
    .social-pet li a {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 35px;
        background-color: #3a5a95;
        color: #fff;
    }
    .social-pet li:nth-child(2) a {
        background-color: #57aced;
    }
    .social-pet li:nth-child(3) a {
        background-color: #dd4f43;
    }
    .social-pet li:nth-child(4) a {
        background-color: #6b27b2;
    }
    .social-pet li a:hover {
        background-color: #0141a2;
    }
    .social-pet li a:hover i {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    
    footer .input-group-addon {
        background-color:#05962e ;
        padding: 7px;
        color:#fff;
    }
    .f-address li {
        display: inline-block;
    }
    .f-address li i {
        color: #05962e;
        font-size: 18px;
    }
    .f-address li a {
        color: #05962e;
    }
    .fb-page{
        display: block;
        margin:auto
    }
    /*=-Copyright-=*/

    .copyright {
        background-image: linear-gradient(#e0e0e0, #f5f5f5);
        padding: 12px 0;
        
        border-top:1px solid #05962e;
        font-size:14px;
    }
    .copyright .text-center#creator{
        font-family: 'Courgette', cursive;
        color:#05962e;

    }

    .input-group.md-form.form-sm.form-2 input {
        border: 1px solid #bdbdbd;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    
.input-group.md-form.form-sm.form-2 input.red-green {
border: 1px solid #05962e;
}
.input-group.md-form.form-sm.form-2 .search-button-green{
    background-color: #05962e;
}
.input-group.md-form.form-sm.form-2 .text-white{
    color:white;
}
/*********************************************************************************** */

@media only screen and (max-width: 768px) {
    .product-card-style p.card-text{
        padding:0;
    }
    .fb-page{
        margin-left: 10px;
    }}