{% extends 'pages/products-news.html' %}

{% block product_news %}


<div class="card mb-3 ml-3 mt-3 product-detail-card w-100">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="{{object.image.url}}" class="card-img img-fluid" alt="{{object.title}}">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title ">{{object.title}}</h5>
          <div class="card-text">
              {% include 'products/snippets/product-attributes.html' with object=object %}
          </div>
         
        </div>
      </div>
    </div>

    <div class="row  mb-3">
      <div class="col-12">
        <div class="card-body mx-2">
          <p>{{object.description|safe|linebreaks}}</p>
        </div>

      </div>
    </div>

    <div class="row mt-3 mb-4">
      <div class="col-10 col-md-10 col-lg-10 mx-auto">
          <div class="card">
          <div class="card-header text-center contact-us-form">
              Contact us
            </div>
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Send" class="btn btn-block btn-success mt-3">
          </form>
        </div>
      </div>
      </div>
    </div>

  </div>



  {% endblock product_news  %}